[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
djangorestframework = "*"
celery = "*"
redis = "*"
psycopg2 = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"

[packages.djangorestframework-jsonapi]
extras = [ "django-filter",]
